syntax: regexp
\.\#.+
~$
\.pyc$
\.pyo$
\.orig$
\.rej$
\.mo$
\.pdf$
\.LOCK$
^\.settings/
^static/
^src/project/settings.py
src/\.coverage
\.project$
\.pydevproject$
\.DS_Store
^www/.webassets-cache
^src/static/
^ck.js$
^media/
^docs/build/
^tags
^update-ctags\.sh
^\.ropeproject/
\.map
^www/
syntax: glob
src/.ropeproject/config.py
src/.ropeproject/globalnames
src/.ropeproject/history
src/.ropeproject/objectdb
.sass-cache
ek.sublime-project
ek.sublime-workspace
. /.ropeproject/config.py
. /.ropeproject/globalnames
. /.ropeproject/history
. /.ropeproject/objectdb
^old_src/
