<html>
    <head>
        <title>Example API app</title>
    </head>
    <body>
        <p>{% url "company-api:building-companies" 1 %} - выдача всех организаций находящихся в конкретном здании </p>
        
    <p>{% url "company-api:rubric-companies" 1 %}
        - список всех организаций, которые относятся к указанной рубрике</p>
    <p>{% url "company-api:company-search" %}
        - список организаций, которые находятся в заданном радиусе/прямоугольной области относительно указанной точки на карте.</p>
    <p>{% url "company-api:building-list" %} - список зданий </p>
    <p>{% url "company-api:company-detail" 1 %}
        - выдача информации об организациях по их идентификаторам</p>
    <p>{% url "company-api:rubricator" 1 %} - 
        дерево рубрик каталога со всеми предками, с возможностью фильтрации по потомкам конкретного узла</p>

    <p>{% url "company-api:company-search" %}
        - поиск организации по названию</p>
    <p>{% url "company-api:rubricator" %} 
        - рубрикатор каталога сделать с произвольным уровнем вложенности рубрик друг в друга</p>
        
    </body>
</html>